<!doctype html>
<html>
    <head>
        <title>Silver State Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Silver State Travel Logo"></header>
        {{{body}}}
    </body>
</html>